* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.box {
    width: 550px;
    height: 450px;
    border: 2px solid gray;
    box-shadow: 5px 5px 20px;
    color: rgb(2 18 103);
    margin: 120px auto;
    border-radius: 13%;
}

.title {
    margin: 30px 200px 40px;
}

.txt {
    margin: 20px 44px;
    font-size: 22px;
}

.num {
    margin: 10px 53px;
    padding: 3px 55px;
    font-size: 40px;
    box-shadow: inset 0 0 10px;
    text-align: center;
    border-radius: 5%;
}



.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.sub {
    margin: 5px 222px;
}
.out {
    margin: 80px 80px;
    padding: 15px 88px;
    border: none;
    border-bottom: 2px solid rgb(0, 2, 128);
    box-shadow: 0 0 10px 5px;
    text-align: center;
    border-radius: 3%;
}

#result {
    font-weight: bold;
    font-style: 15px;
}